body {
  background-color: #e7f8f9;
}

/*Estilos para nav bar*/
header {
  background-color: #416ed0;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
  text-align: center;
  border-radius: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: white;
}

#divTituloPpal {
  background-color: #416ed0;
  color: white;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
}

.classIntroduccion {
  font-size: 18px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.botonesIniciales {
  display: flex;
  justify-content: center;
}

.botonesIniciales button {
  margin-inline: 160px;
  font-size: 23px;
  background-color: #416ed0;
  color: white;
  font-weight: bold;
}

/*ESPACIO PARA IMAGENES*/
.contenedorPpal {
  text-align: center;
}

#divNombre {
  display: inline-block;
  background-color: #c4d5f9;
  color: black;
  width: 300px;
  margin: 30px;
  border: 7px solid black;
  border-radius: 50px;
}

img {
  border: 3px solid black;
  width: 230px;
  height: 300px;
  border-radius: 20px;
}

.buttonCarrito {
  background-color: #b2b2b2;
  color: black;
  height: 30px;
  border-radius: 5px;
  margin: 7px;
  position: relative;
  right: 28px;
  font-weight: bold;
}

.buttonSuma {
  background-color: #b2b2b2;
  color: black;
  height: 19px;
  border-radius: 7px;
  margin: 1px;
  position: relative;
  left: 17px;
  font-weight: bold;
}

.buttonResta {
  background-color: #b2b2b2;
  color: black;
  height: 19px;
  border-radius: 7px;
  margin: 1px;
  position: relative;
  left: 20px;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#idRedesFooter{
  position: relative;
  right: 550px;
}

.classRedesSociales {
  text-align: left;
  display: inline-block;
}

.classRedesSociales img {
  width: 20px;
  height: 20px;
}

.classRedesSociales p {
  display: inline;
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
}
